<<<<<<< HEAD



body {
  background-color: #F6D6E8;
  font-family: 'Poppins', sans-serif;
  color: #5B2C83;
=======



body {
  background-color: #F6D6E8;
  font-family: 'Poppins', sans-serif;
  color: #5B2C83;
>>>>>>> 3b3bd143e2f887b41ca5f51a7b04ba367c8f6345
}